<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>currency-converter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C4C38A81D877E6B00ACE7ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C4C38BC1D877E6B00ACE7ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C4C38C71D877E6B00ACE7ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
